*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: #f7ec09;
}
h1,
h2,
h3 {
  font-family: "oswald", sans-serif;
  color: #3b44f6;
}
.header {
  padding: 1.25rem 6.25rem;
  padding-top: 4.5rem;
  text-align: center;
  background-color: #3ec70b;
  position: relative;
}
.main > * {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 1rem;
  border-top: 0.125rem solid black;
}
a:link {
  background-color: green;
}
a:visited {
  background-color: lightgreen;
}
a:hover {
  background-color: white;
}
a:active {
  background-color: gray;
}
#profile {
  padding: 1.25rem;
}
#experience {
  padding: 1.25rem;
}
#skills {
  padding: 1.25rem;
}
#contact {
  padding: 1.25rem;
  border-top: 0.125rem solid black;
  background-color: #3ec70b;
}
.nav-link {
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}
::selection {
  background-color: black;
  color: white;
}
h1::after {
  content: " 😉";
}
#email {
  background-color: #3ec70b;
}
#handy {
  background-color: #3ec70b;
}
.experience-heading {
  display: inline-block;
}
.experience-subheading {
  display: inline-block;
}
.article-heading {
  position: relative;
  left: -1rem;
}
.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #a149fa;
  color: black;
}
.heading-group {
  font-size: 4rem;
}
.main-heading {
  font-size: 1em;
}
.profession {
  font-size: 0.25em;
}
